<div class='container'>
  <div class='buttonDiv'>
    <p>Farm</p>
    <button class='btn btn-primary' (click)='farm()' (click)='sendNewMessage($event)'>Farm!</button>
  </div>
  <div class='buttonDiv'>
    <p>Cave</p>
    <button class='btn btn-primary'>
      cave!</button>
  </div>
  <div class='buttonDiv'>
    <p>Casino</p>
    <button class='btn btn-primary'>Casino!</button>
  </div>
  <div class='buttonDiv'>
    <p>House</p>
    <button class='btn btn-primary'>House!</button>
  </div>
</div>
